body {
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  background: yellow;
}

header {
  background: orange;
  width: 960px;
  height: 150px;
}

ul {
  background: #080808;
  padding: 10px;
}

ul li {
  background: #787878;
  padding: 5px;
  border: solid 2px white;
  display: inline-block;
}

ul li a {
  color: white;
  text-decoration: none;
}

ul li a:hover {
  color: #C0C0C0;
}

section{
  padding: 5px;
  margin: 5px;
  border: double 4px black;
}

section article {
  border: 3px solid black;
  border-radius: 0px 20px 20px 20px;
  margin: 5px 10px 5px 10px;
  padding: 10px;
  background: white;
}

footer {
  background: #F0F0F0
}

footer h3 {
  text-align: center;
  font-weight: normal;
  font-size: 90%;
}

.wrapper {
  margin: 0 auto 0 auto;
  width: 960px;
}

* {
  margin: 0px;
  padding: 0px;
}
#white{
  background: white;
}

#zwart {
  background-color: black;
  position: absolute;
  top: 20px;
  left: 20px;
  width: 100px;
  height: 100px;
  z-index: 1;
}

#geel {
  background-color: yellow;
  position: absolute;
  top: 20px;
  left: 20px;
  width: 65px;
  height: 65px;
  z-index: 2;
}

#rood {
  background-color: red;
  position: absolute;
  top: 20px;
  left: 20px;
  width: 50px;
  height: 50px;
  z-index: 3;
}

#blauw {
  background-color: blue;
  position: absolute;
  top: 65px;
  left: 65px;
  width: 50px;
  height: 50px;
  z-index: 4;
}

#groen {
  background-color: green;
  position: absolute;
  top: 50px;
  left: 50px;
  width: 50px;
  height: 50px;
  z-index: 5;
}
